.about-me {
    position: relative;
    right: 450px;
    font-size: 30px;
    font-weight: bold;
    display: flex;
}

.profile {
    position: relative;
    right: 300px;
}

.shdw {
    box-shadow: 0px 0px 5px #444;
}

.intro {
    position: relative;
    top: 30px;
}