.img-style {
    display: flex;   
    margin: 25px;
}

.text-style {
    color: black;
    font-size: 30px;
    font-style: normal;
    font-weight: 700; 
    margin-right: 60px;
}

.img-size {
    width: 100px;
    height: 100px;
}

.a-style {
    text-decoration: none; 
    color: inherit;
}