#dynamic {
    position: relative;
    top: -5%;
    display: inline-block;
    color: white;
    font-style: normal;
    font-weight: bold;
    font-size: 80px;
}

#dynamic::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: -15px;
    width: 4px;
    height: 100%;
    background-color: white;
}

#dynamic.active::after {
    display: none;
}