body {
    overflow: hidden;
}

.scroll-container {
    overflow: auto;
    scroll-snap-type: y mandatory;
}
   
.scroll-area {
    scroll-snap-align: start;
}

.scroll-container,
.scroll-area {
  width: 101%;
  height: 100vh;
  font-size: 60px;
}
 
.scroll-container,
.scroll-area {
  margin: 0 auto;
}
 
.scroll-area {
  display: flex;
  align-items: center;  
  color: white;
  background: #bbc3dd;
}
 
.scroll-area:nth-of-type(1) {
  justify-content: center;
}
 
.scroll-area:nth-of-type(2) {
  justify-content: right;
}
 
.scroll-area:nth-of-type(3) {
  justify-content: center;
}

.scroll-area:nth-of-type(4) {
  justify-content: center;
}

.scroll-container::-webkit-scrollbar {
  display: none;
}